
@import './variables.css';
/* Toast */
.toast {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 1.5rem;
  background-color: (--color-success);
  backdrop-filter: blur(8px);
  border: 1px solid var(--ev-c-black-mute);
  color: white;
  border-radius: 0.75rem;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.3);
  animation: slideUp 0.3s ease-out;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 500;
}
.error-toast {
  background-color: (--color-error);
}
.info-toast {
background-color: (--color-error);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
